/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */
html,
body {
  padding: 0;
  margin: 0;
  /* line-height: normal !important; */
  /* font-family: sans-serif; */
 
}

a {
  color:#4299e1 !important;
  text-decoration:none !important;
}

article > p{
  line-height: 1.6 !important;
  margin:1.2rem 0  !important;
  position: static  !important;
  max-width:99% !important;
  /* font-family: 'Open Sans', sans-serif !important; */
  

}
article > span{
  line-height: 1.5 !important;
  margin: 0 !important;
  /* position: static  !important; */
  /* max-width:99% !important; */

}
p {
  word-break: break-all !important;
  white-space: normal !important;
}
* {
  box-sizing: border-box;
}
.tip_cards {
  width:27rem;
  
  align-items: flex-start;
  

}
.fade {
  -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
 
}

/* .no-stretching{
  align-items: flex-start;

} */
.card-grid{
  
  columns: 3;
  column-gap: 2rem;
  
}

.tip_gradient{
  background: #ffffff;  /* fallback colour. Make sure this is just one solid colour. */
  /* background: -webkit-linear-gradient(rgba(0, 4, 43, 0.8), rgba(95, 46, 5, 0.8)); url("https://images.unsplash.com/photo-1523540939399-141cbff6a8d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); */
  background-repeat: no-repeat;
  min-height:100vh;
  top: 0;
  left: 0;
  width: 100%;
}
.container
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 16rem;
}

/* image upload styling */
[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  /* height: 1px; */
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  /* width: 1px; */
}
[type="file"] + label {
  /* background-color: #000; */
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  /* font-size: 1rem; */
  /* font-weight: 700; */
  /* height: 3rem; */
  /* line-height: 4rem; */
  /* padding-left: 2rem;
  padding-right: 2rem; */
  /* padding: 1rem 1.5rem; */
  transition: background-color 0.3s;
}

/* [type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #f15d22;
} */

[type="file"]:focus + label {
  /* outline: 1px dotted #000; */
  /* outline: -webkit-focus-ring-color auto 5px; */
  outline: none;
}

/* end of upload styling */
.push_spinner{
  position: fixed;
   margin-left:50%;
  margin-top: 13%; 
}
.profile_bar{
  /* background: url('/hero_v1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  height: 50vh; */
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.555)), url('/hero.jpg');
background-size:cover;
max-height: 60vh;
background-position: center;
/* height: 50vh; */
/* position: relative; */
}
@media only screen and (max-width: 600px) {
  .push_spinner{
    position: fixed;
     margin-left:45%;
    margin-top: 47%; 
  }
}

#journal-scroll::-webkit-scrollbar {
  width: 4px;
  cursor: pointer;
  /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/

}
#journal-scroll::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, var(--bg-opacity));
  cursor: pointer;
  /*background: red;*/
}
#journal-scroll::-webkit-scrollbar-thumb {
  cursor: pointer;
  /* background- */
  background-color: #a0aec0;
/*outline: 1px solid slategrey;*/
}