
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: sans-serif; */
 
}

a {
  color:#4299e1;
  text-decoration:none;
}


* {
  box-sizing: border-box;
}
.tip_cards {
  width:27rem;
  
  align-items: flex-start;
  

}

/* .no-stretching{
  align-items: flex-start;

} */
.card-grid{
  
  columns: 3;
  column-gap: 2rem;
  
}

.tip_gradient{
  background: #04002b;  /* fallback colour. Make sure this is just one solid colour. */
  /* background: -webkit-linear-gradient(rgba(0, 4, 43, 0.8), rgba(95, 46, 5, 0.8)); url("https://images.unsplash.com/photo-1523540939399-141cbff6a8d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); */
  background-repeat: no-repeat;
  min-height:100vh;
  top: 0;
  left: 0;
  width: 100%;
}
.container
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 16rem;
}

/* image upload styling */
[type="file"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  /* height: 1px; */
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  /* width: 1px; */
}
[type="file"] + label {
  /* background-color: #000; */
  border-radius: 4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  /* font-size: 1rem; */
  /* font-weight: 700; */
  /* height: 3rem; */
  /* line-height: 4rem; */
  /* padding-left: 2rem;
  padding-right: 2rem; */
  /* padding: 1rem 1.5rem; */
  transition: background-color 0.3s;
}

/* [type="file"]:focus + label,
[type="file"] + label:hover {
    background-color: #f15d22;
} */

[type="file"]:focus + label {
  /* outline: 1px dotted #000; */
  /* outline: -webkit-focus-ring-color auto 5px; */
  outline: none;
}

/* end of upload styling */
.push_spinner{
  position: fixed;
   margin-left:50%;
  margin-top: 13%; 
}
@media only screen and (max-width: 600px) {
  .push_spinner{
    position: fixed;
     margin-left:45%;
    margin-top: 47%; 
  }
}